.vscode/
.snakemake/
logs/
fastqs/
fastq_combined/
references/
results/dataset/sequences.db
results/dataset/annotations.db
srafiles/
analysis*
results/samples/agat
results/samples/liftoff
results/samples/mosdepth
results/samples/samtools
results/samples/snippy
results/dataset/tmp/
files/SraRunTable.txt
backup*
files/loci_to_plot.tsv
files/PRJNA*
files/protein_list.txt
files/read_pair_table.csv
files/sample_reference.csv
files/samples.txt
files/unpaired_fastqs.csv
data
*log
*test*
*temp*
config/RepBase.fasta
misc_logs/
results/dataset/database/
results/dataset/files/mapqcov.tsv
results/dataset/files/coverage_raw.tsv
