.vscode/
.snakemake/
logs/
results*
*log
test/data2/
test/config/metadata2.csv
test/config/config2.yaml
test_bigger
test_liftoff
test_orthofinder
test_repeatmodeler
data_small/
config/RepBase.fasta
*temp*
*pycache*
execution_scripts/

