.vscode/
.snakemake/
logs/
fastqs/
fastq_combined/
references/
srafiles/
analysis*
results*
files/SraRunTable.txt
backup*
files/loci_to_plot.tsv
files/PRJNA*
files/protein_list.txt
files/read_pair_table.csv
files/sample_reference.csv
files/samples.txt
files/unpaired_fastqs.csv
data
*log
*test*
*temp*
config/RepBase.fasta
*pycache*
